#map {
    height: 100vh; width: 100%; 
}

.train-marker {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: white;
    font-size: 14px;
    text-align: center;
    line-height: 24px;
    
    
}

.legend {
    position: absolute;
    top: 20px;
    left: 60px;
    background-color: white;
    padding: 1px 5px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    z-index: 1000;
    font-family: Helvetica, sans-serif;
}

.legend-row {
    display: flex;
    align-items: center;
    gap: 2px;
    margin: 5px 0;
}

.bullet {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: white;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
}

.red { background-color: #ff0000; }
.green { background-color: #008000; }
.purple { background-color: #800080; }
.one { background-color: #0971ce; } 
.two { background-color: #fd6b0d; } 
.three { background-color: #fec524; }

#pause {
    position: absolute;
    top: 20px;
    right: 60px;
    z-index: 1000;
    padding: 8px 12px;
    font-size: 18px;
    background-color: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);    
}

#settings {
    position: absolute;
    top: 20px;
    right: 10px;
    z-index: 1000;
    padding: 8px 12px;
    font-size: 18px;
    background-color: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}


#simulationControls {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: sans-serif;
}

#simulationControls button {
    font-size: 18px;
    border: none;
    background: transparent;
    cursor: pointer;
}

#simulationControls select {
    margin: 0 5px;
}
.modal {
    display: none;
    position: fixed;
    z-index: 2000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 4px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}  